@page "/recipe/add"
@rendermode InteractiveWebAssembly
@using System.ComponentModel.DataAnnotations
@using MyCookbook.Shared.DTOs.RecipeDTOs

<div class="recipe-form-container">
    <h2 class="recipe-form-title">Vložení nového receptu</h2>

    <EditForm Model="recipe" OnValidSubmit="HandleValidSubmit" FormName="AddRecipe">
        <DataAnnotationsValidator />
        <ValidationSummary />

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger mt-3">@errorMessage</div>
        }

        <div class="form-section">
            <h3 class="section-title">Základní informace</h3>

            <div class="form-field">
                <label for="name" class="form-label">Název receptu</label>
                <InputText id="name" class="input-control" @bind-Value="recipe.Name" />
            </div>
            <div class="form-field">
                <label for="numberOfServings" class="form-label">Počet porcí</label>
                <InputNumber id="numberOfServings" class="input-control" @bind-Value="recipe.NumberOfServings" />
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="action-button primary">Uložit recept</button>
        </div>
    </EditForm>
</div>

@code {
    private CreateRecipeDto recipe = new();
    private string? errorMessage;

    private void HandleValidSubmit()
    {
        Console.WriteLine($"Uložený recept: {recipe.Name}");
    }
    
}
