@using MyCookbook.Shared.DTOs
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@page "/categories"
@inject HttpClient Http

<h3>Kategorie</h3>

@if (categories == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var category in categories)
        {
            <li>@category.Name</li>
        }
    </ul>
}

@code {
    private List<CategoryDto> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await Http.GetFromJsonAsync<List<CategoryDto>>("api/categories");
    }
}