@using MyCookbook.Shared.DTOs
@using Microsoft.AspNetCore.Authorization
@using MyCookbook.Shared.DTOs.CategoryDTOs
@attribute [Authorize]

@page "/categories"
@inject HttpClient HttpClient

<h3>Kategorie</h3>

@if (categories == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var category in categories)
        {
            <li>@category.Name</li>
        }
    </ul>
}

@code {
    private List<CategoryDto> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await HttpClient.GetFromJsonAsync<List<CategoryDto>>("/api/category/getallcategories");
    }
}