@page "/"

@using MyCookbook.Shared.DTOs.RecipeDTOs

@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Recepty - My Cookbook</PageTitle>

<div class="page-header">
    <h2>Všechny recepty</h2>
</div>

@if (recipes == null)
{
    <p>Načítám recepty...</p>
}
else
{
    <div class="recipe-grid" >       
        @foreach (var recipe in recipes)
        {
            <NavLink class="recipe-card" href="@($"/recipe/{recipe.Id}")">
                @if (recipe.Icons != null)
                {
                    @foreach (var icon in recipe.Icons)
                    {
                        <i class="@icon me-2"></i>
                    }
                }
                <h3>@recipe.Name</h3>
            </NavLink>           
        }
    </div>
}

@code {
    private List<RecipeListDto>? recipes;

    protected override async Task OnInitializedAsync()
    {
        recipes = await Http.GetFromJsonAsync<List<RecipeListDto>>("/api/recipes");
        if (recipes == null)
        {
            Console.WriteLine("Chyba: Recepty jsou null");
            recipes = new List<RecipeListDto>();
        }
    }
}